@model IEnumerable<ProyectoTrimestre3Asp.Models.Reporte>

@{ 
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte</h2>

<table class="table">
    <tr>
        <th>Proveedor</th>
        <th>Telefono Proveedor</th>
        <th>Direccion Proveedor</th>
        <th>Producto</th>
        <th>Producto Precio</th>
    </tr>
    @foreach (var item in Model)
    {
           <tr>
                 <td>@Html.DisplayFor(modelItem => item.NombreProveedor)</td>
                 <td>@Html.DisplayFor(modelItem => item.TelefonoProveedor)</td>
                 <td>@Html.DisplayFor(modelItem => item.DireccionProveedor)</td>
                 <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                 <td>@Html.DisplayFor(modelItem => item.PrecioProducto)</td>
           </tr>
    }
</table>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Sena_Colombia_logo.svg/1045px-Sena_Colombia_logo.svg.png" alt="Alternate Text"/>
<p>El SENA está  encargado de cumplir la función que le corresponde al Estado de invertir en el desarrollo social y técnico de los trabajadores colombianos, ofreciendo y ejecutando la formación profesional integral, para la incorporación y el desarrollo de las personas en actividades productivas que contribuyan al desarrollo social, económico y tecnológico del país</p>

@Html.ActionLink("Generar Reporte", "ImprimirReporte", "Producto");