@model ProyectoTrimestre3Asp.Models.cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Documento Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            Email Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
